# for all tests
pytest

# for tests: E_mocking
requests
responses
pytest-mock

# for tests: G_asyncio
pytest-asyncio
httpx

# for tests: H_parallelization
pytest-xdist

# for ipynb (jupyter notebook)
jupyter
